/* .boho{
    text-align: left;  
}
.boo{
    text-align: left; 
}
.boohoo{
    text-align: left; 
} */

<style>
.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
  
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

.button3 {
    background-color: white; 
    color: black; 
    border: 2px solid red;
  }
  
  .button3:hover {
    background-color: red;
    color: white;
  }

  .button4 {
    background-color: white; 
    color: black; 
    border: 2px solid navy;
  }
  
  .button4:hover {
    background-color: navy;
    color: white;
  }

  .button5 {
    background-color: white; 
    color: black; 
    border: 2px solid yellow;
  }
  
  .button5:hover {
    background-color: yellow;
    color: white;
  }

  .button6 {
    background-color: white; 
    color: black; 
    border: 2px solid purple;
  }
  
  .button6:hover {
    background-color: purple;
    color: white;
  }

  .button7 {
    background-color: white; 
    color: black; 
    border: 2px solid orange;
  }
  
  .button7:hover {
    background-color: orange;
    color: white;
  }

  .button7 {
    background-color: white; 
    color: black; 
    border: 2px solid orange;
  }
  
  .button7:hover {
    background-color: orange;
    color: white;
  }

  /* page 2 */

  body{
    background-color: black;
    text-align: center;
  }
  
  hr{
    color: lightpink;
  }

  p{
    color: lightblue;
    font-size: 2em;
    font-family: Verdana;
  }
  
  button{
    background-color: #000000;
    font-size: 2em;
    border-color: lightpink;
    color: #00ccff;
    font-family: Courier;
    cursor: pointer;
  }